doctype html
html(lang="en")

  head

    title WordPress.com Console

    link(rel="stylesheet" type="text/css" charset="utf-8" href="style.css?" + resource_version)
    link(rel="icon" href="favicon.ico" type="image/x-icon")
    link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
    link(rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Inconsolata:400,700|Open+Sans:300italic,400italic,600italic,400,300,600")

    meta(http-equiv="Content-Type", content="text/html, charset=utf-8")

    if version
      meta(name="version", content=version)
    if build
      meta(name="build", content=build)

    meta(name="generated_at", content=(new Date).getTime())

    script(type="text/javascript" src='app.js?' + resource_version)

  body
    #path
      #api-selector
      #auth(tabindex="2")
      #versions
      #lookup-container
        #method
        #parts
        #search
          a
        #lookup
      #submit(tabindex="1")
    section#builder
      section#parameters
        #query
        #body.disabled
      section#reference
    section#requests
    #tip
      .anchor
      header
        code
        em
      ul
