@import "type";

@mixin flexbox($justify: center, $align: center) {
  // CSS Flexbox container properties
  display: flex;
  display: -webkit-flex;

  flex-direction: row;
  -webkit-flex-direction: row;

  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;

  justify-content: $justify;
  -webkit-justify-content: $justify;

  align-items: $align;
  -webkit-align-items: $align;

}

@mixin flex($grow:0, $shrink:1) {
  flex-grow: $grow;
  -webkit-flex-grow: $grow;
  flex-shrink: $shrink;
  -webkit-flex-shrink: $shrink;
}

%genericon {
  font-family: Genericons;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
}

body {
  margin:0;
  font-family: "open_sans";
  font-size: 14px;
  line-height: 1;
}

pre, code {
  font-family: "bitstream_vera_sans_monoroman";
}

:focus {
  outline: none;
}


/* +Main Toolbar */

div#path {
  background: hsl(202,68%,44%);
  top: 0;
  left: 0;
  right: 0;
  height: 44px;
  padding: 16px;
  font-size: 18px;
  z-index: 2;

  @include flexbox(center, stretch);

  > div {
    padding: 8px;
  }

}

div#parts {

  position: relative;
  overflow: visible;
  background: hsl(205,38%,100%);

  @include flexbox(flex-start, center);

  // As a flexbox child element expands to fill space
  @include flex(1, 0);

  .endpoint > & {
    background: hsl(205,38%,94%);
  }

  > div {
    font-size: 14px;
    font-family: "bitstream_vera_sans_monoroman";
    padding: 1px 1px 0 1px;
    line-height: 16px;
    min-height: 16px;
    color: hsl(202,20%,44%);
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis ellipsis;

    // CSS3 Flexbox child properties
    @include flex(0, 0);

    &:nth-last-child(3):nth-child(2) {
      background: none;
      border: none;

      @include flex(1, 0);
    }

    &:nth-last-child(3):first-child:focus {
      outline: none;
      background: none;
    }

    &.param {
      color: hsl(202,68%,44%);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis "";
      position: relative;
      background: hsl(205,38%,100%);
      padding-left: 6px;
      padding-right: 6px;
      border-radius: 2px;

      &:focus {
        outline: none;
      }

    }
  }

  > div#search {
    text-align: right;
    cursor: pointer;
    background: none;

    .endpoint & {
      flex-grow: 1;
      -webkit-flex-grow: 1;
    }

  }

  > div:first-child {
    margin-left: 0;
  }

}

#auth {
  color: hsl(201,60%,100%);
  background-color: hsl(201,60%,60%);
  font-size: 14px;

  cursor: pointer;

  @include flexbox(flex-start, center);

  // As a flexbox child element will not shrink
  flex-shrink: 0;
  -webkit-flex-shrink: 0;

  .label, .extra {
    line-height: 24px;
  }

  div#path > & {
    padding: 0;

    &:active, &.active {
      color: hsl(201,60%,70%);
      background-color: hsl(201,60%,100%);
    }

  }

  .label::before {
    @extend %genericon;
    position: relative;
    content: '\f427';
    font-size: 22px;
    vertical-align: -6px;
    text-align: center;
    left: 0px;
    padding: 0;
    width: 44px;
  }

  &:hover, &:focus {
    outline: none;
    background-color: hsl(201,60%,70%);
  }

  .throbber {
    display: none;
  }

  span.img {

    background: hsl(201,60%,40%);


    img {
      display: block;
      width: 44px;
      height: 44px;
      opacity: 0;
      transition: opacity 200ms 200ms;
      -webkit-transition: opacity 200ms 200ms;
      -moz-transition: opacity 200ms 200ms;
    }

  }

  &.authorized {

    .label::before {
      content: '\f470';
      left: 0;
      width: 44px;
    }

    .extra {
      position: relative;
      left: -3px;
    }

  }

  &.loading {

    min-width: 88px;

    justify-content: center;
    -webkit-justify-content: center;

    cursor: default;

    &:hover, &:focus {
      outline: none;
      background-color: hsl(201,60%,60%);
    }


    .extra {
      display: none;
    }

    .label {
      display: none;
    }

    .throbber {
        display: block;
    }
  }

  .extra {
    width: 0;
    overflow: hidden;
    -webkit-transition: 200ms;
    -moz-transition: 200ms;
    transition: 200ms;
    opacity: 0;
    white-space: nowrap;
  }

  &:hover, &:focus {
    .extra {
      opacity: 1;
      width: 64px;
    }

    img {
      opacity: 0.9;
    }
  }

}

.throbber {
  padding: 0 18px;
  display: inline-block;

  .loading & {
    display: inline-block;
  }

  div {
    border-radius: 100%;
    border: 1px solid hsl(0,0%,100%);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 14px;
    height: 14px;
    -webkit-animation: throbber ease-out 0.7s infinite;
    -moz-animation: throbber ease-out 0.7s infinite;
    animation: throbber ease-out 0.7s infinite;
  }

}

div.param {

  &::after {
    content: attr(data-label);
    color: hsl(202,50%,70%);
  }

  &.modified::after {
    display: none;
  }

}

div#method {
  font-weight: 100;
  position: relative;
  cursor: default;

  border-radius: 1px;

  div#parts > & {
    overflow: visible;
    color: hsl(201,60%,60%);
    padding: 2px 4px 0;
    line-height: 22px;

    align-self: center;
    -webkit-align-self: center;

  }

  div #parts > &.enabled {
    background: hsl(205,38%,94%);
    cursor: pointer;
    padding-right: 20px;
    &::after {
      visibility: visible;
    }

    &:hover, &:active, &:focus {
      outline: none;
      color: hsl(205,38%,98%);
      background: hsl(201,60%,60%);
    }
  }

  &::after {
    content: '\25BE';
    font-family: open_sans;
    display: inline-block;
    position: absolute;
    right: 6px;
    top: 0px;
    visibility: hidden;
  }

}

div#methods {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 100%;
  z-index: 2;

  ul {
    border-radius: 1px;
    position: relative;
    top: 1px;
    margin: 0;
    padding: 4px 0;
    list-style: none;
    background: hsl(201,60%,70%);
    color: hsl(201,60%,97%);
  }

  li {
    padding: 3px 4px 1px;

    &.highlight {
      background: hsl(201,60%,60%);
    }
  }

}

div#submit {
  background: url(res/return-@2x.png) no-repeat center center hsl(201,60%,60%);
  background-size: 24px 24px;
  color: hsl(201,60%,97%);
  cursor: pointer;
  min-width: 44px;
  text-align: center;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;


  &:hover, &:focus {
    outline: none;
    background-color: hsl(201,60%,70%);
  }

  div#path > &:active, div#path > &.active {
    color: hsl(201,60%,70%);
    background-color: hsl(201,60%,100%);
    background-image: url(res/return-dark-@2x.png);
  }

}


#search {
  padding: 0;
  width: 24px;
  height: 24px;

  a {
    display: inline-block;
    vertical-align: -2px;
    content: '';
    color: #FFF;
    border-radius: 100%;
    width: 24px;
    height: 24px;
    opacity: 1;
    overflow: hidden;
    background: url(res/search-dark-@2x.png) no-repeat center center transparent;
    background-size: 16px 16px;

    .endpoint & {
      background-image: url(res/close-dark-@2x.png);;
    }

    &:hover {
      background-color: hsl(201,60%,60%);
      background-image: url(res/search-@2x.png);

      .endpoint & {
        background-image: url(res/close-@2x.png);
      }

    }

    &:active {
      background-color: hsl(201,60%,70%);
      background-image: url(res/search-@2x.png);

      .endpoint & {
        background-image: url(res/close-@2x.png);
      }

    }

  }

}

div#lookup {

  div#parts > & {
    font-family: open_sans;
    font-size: 14px;
    position: absolute;
    padding: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: 3;
    background: none;
    overflow: visible;
  }

  > ol {
    list-style: none;
    padding: 0;
    margin: 0;
    background: hsl(210,33%,99%);
    position: relative;
    top: 1px;
  }

  li {
    margin: 0;
    padding: 6px 8px;
    cursor: pointer;
    border-bottom: 1px solid hsl(205,38%,94%);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: hsl(202,10%,40%);
    font-weight: 100;

    &.highlight {
      background-color: hsl(205,38%,94%);
    }

    &:last-child {
      border-bottom: 0;
    }

    > code {
      color: hsl(202,68%,44%);
      margin-right: 5px;
      display: inline-block;
    }

    > span {
      font-family: "bitstream_vera_sans_monoroman";
      color: hsl(202,68%,80%);
      width: 45px;
    }

    > em, > strong {
      font-weight: 100;
      font-style: italic;
      color: hsl(202,10%,40%);
    }

    strong {
      font-weight: normal;
      text-transform: capitalize;

      &::after {
        content: ':';
      }
    }

  }

}

section#parameters {
  background: hsl(205,38%,94%);
  font-size: 18px;


  // CSS3 Flexbox
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: middle;
  -webkit-align-items: stretch;
  position:relative;

  > div {
    min-height: 20px;
    min-width: 50%;
    max-width: 50%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 16px;
    position: relative;

    // CSS3 Flexbox
    flex-grow: 1;
    -webkit-flex-grow: 1;
    flex-shrink: 0;
    -webkit-flex-shrink: 0;

    &:first-child {
      padding-right: 8px;
    }

    &:last-child {
      padding-left: 8px;
    }

    &.disabled {
      opacity: 0.5;
    }
  }

  div.raw {
    font-family: "bitstream_vera_sans_monoroman";
    background: hsl(240,100%,100%);
    color: hsl(202,68%,44%);
    min-height: 50px;
    padding: 8px;
    max-width: 100%;
    word-break: break-all;
    word-break: break-word;
    font-size: 12px;
    max-height: 220px;
    overflow-y: auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

  header {
    background: hsl(204,33%,97%);
    color: hsl(203,53%,71%);
    padding: 8px;
    font-weight: normal;
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: 1px solid hsl(205,38%,94%);
  }


  table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
  }

  div.scroller {
   position: relative;
   max-height: 222px;
   overflow-y: scroll;
 }

 th, td {
   vertical-align: top;
   border-bottom: 1px solid hsl(205,38%,94%);
   padding: 0;
 }

 th {
   width: 30%;
   padding: 8px;
   font-weight: normal;
   background: hsl(204,33%,97%);
   text-align: left;
   color: hsl(200,100%,38%);
   font-size: 14px;
   cursor: default;
 }

 td div {
   padding: 8px;
   font-size: 14px;
   max-width: 100%;
   min-height: 36px;
   overflow: hidden;
   text-overflow: ellipsis;
   word-break: break-all;
   word-break: break-word;
   background: hsl(240,100%,100%);
   font-family: "bitstream_vera_sans_monoroman";
   color: hsl(202,68%,44%);
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
 }

 div:focus {
   outline: none;
 }

} /// section#parameters

div.container {
  position: relative;

  &::after {
    content: "";
    bottom: 0;
    right: 0;
    left: 0;
    height: 4px;
    z-index: 1;
    position: absolute;
    background: linear-gradient(hsla(0,0%,0%,0.0), hsla(0,0%,0%,0.2));
    background: -webkit-linear-gradient(hsla(0,0%,0%,0.0), hsla(0,0%,0%,0.2));
    background: -moz-linear-gradient(hsla(0,0%,0%,0.0), hsla(0,0%,0%,0.2));
  }

  &::before {
    content: "";
    top: 0;
    right: 0;
    left: 0;
    height: 4px;
    z-index: 1;
    position: absolute;
    background: linear-gradient(hsla(0,0%,0%,0.2), hsla(0,0%,0%,0.0));
    background: -webkit-linear-gradient(hsla(0,0%,0%,0.2), hsla(0,0%,0%,0.0));
    background: -moz-linear-gradient(hsla(0,0%,0%,0.2), hsla(0,0%,0%,0.0));
  }

  &.at-top::before {
    opacity: 0;
  }

  &.at-bottom::after {
    opacity: 0;
  }
}

/*Tooltip*/

#tip {
  position: absolute;
  top: 120px;
  left: 500px;
  background: hsl(0,0%,10%);
  max-width: 300px;
  min-width: 150px;
  color: hsl(0,0%,80%);
  font-size: 12px;
  opacity: 0.9;
  line-height: 1.4;
  word-break: break-all;
  word-break: break-word;
  z-index: 3;
  transition: opacity 100ms;
  -moz-transition: opacity 100ms;
  -webit-transition: opacity 100ms;

  .anchor {
    position: absolute;
    top: 16px;
    left: 0;
    content: "";
    width: 10px;
    height: 10px;
    background: hsl(0,0%,10%);
    transform: translate(-5px,-5px) rotate(45deg);
    -moz-transform: translate(-5px,-5px) rotate(45deg);
    -webkit-transform: translate(-5px,-5px) rotate(45deg);
    z-index: 0;
  }

  header {
    position: relative;
    padding: 8px;
    z-index: 1;

    @include flexbox(center, baseline);

    code {
      color: hsl(0,0%,100%);
      margin-right: 10px;

      @include flex(1, 1);

    }

  }

  em {
    color: hsl(195,75%,100%);
  }

  ul {
    position: relative;
    padding: 0;
    margin: 0;
    list-style: none;
    z-index: 1;

    code {
      color: hsl(195,75%,60%);
    }

  }

 li {
   padding: 8px;
   border-top: 1px solid hsla(0,0%,100%,0.1);
 }

} // #tip

#requests {

  header {
    padding: 8px 16px;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    align-items: baseline;
    -webkit-align-items: baseline;
    line-height: 1.5;

    > code:first-child {
      color: hsl(202,68%,80%);
      text-transform: uppercase;
      margin-right: 8px;
      flex-shrink: 0;
      -webkit-flex-shrink: 0;
    }

    > code:nth-child(2) {
      color: hsl(202,68%,44%);
    }

    > code:nth-last-of-type(1) {
      flex-grow: 1;
      -webkit-flex-grow: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    em {
      font-style: normal;
      color: hsl(202,9%,44%);
    }

    > span {
      color: hsl(202,0%,50%);
      white-space: nowrap;
      flex-shrink: 0;
      -webkit-flex-shrink: 0;
      font-size: 12px;

      &::before {
        @extend %genericon;
        content: '\f303';
        font-size: 16px;
        line-height: 14px;
        vertical-align: -3px;
        margin-right: 2px;
      }

    }

  } // #requests header

  .error header > span {
    color: hsl(0,100%,50%);

    ::before {
      content: '\f414';
      margin-right: 8px;
    }
  }

} // #requests


div.compact {
  font-size: 12px;
  padding: 2px 16px 8px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  white-space: nowrap;
}

code {

  &.compact {
    color: hsl(0,0%,50%);
  }

  span {
    &.key {
      color: hsl(296,77%,32%);
    }
    &.string {
      color: hsl(100,90%,40%);
    }
    &.number {
      color: hsl(210,90%,60%);
    }
  }

}

.log {

  @include flexbox('flex-start');

  cursor: pointer;
  border-bottom: 1px solid hsl(205,38%,88%);

  &:first-child {
      border-top: 1px solid hsl(205,38%,88%);
  }

  &:focus {
    outline: none;
    background-color: hsl(205,38%,94%);
  }

  > div {
    &:first-child {
      @include flex(1,1);
    }
    &:last-child {
      @include flex(0,0);
      min-width: 48px;
      text-align: center;
    }
  }

  &.complete {
    > div:last-child::before {
      display: inline-block;
      content: '';
      width: 24px;
      height: 24px;
      border-radius: 100%;
      background: url(res/disclosure-dark-@2x.png) center center no-repeat;
      background-size: 16px 16px;
      opacity: 0.5;
    }

    &:focus {
      > div:last-child::before {
        opacity: 1;
      }
    }

    &:hover {
      > div:last-child::before {
        background-image: url(res/disclosure-@2x.png);
        background-color: hsl(201,60%,60%);
      }
    }
  }

  .throbber {
    padding: 0;

    div {
      border-color: hsl(201,60%,60%);
    }

  }

}

@-webkit-keyframes throbber {
  0%   { opacity: 0; -webkit-transform: scale(0,0); border-width: 7px; }
  50%  { opacity: 1; border-width: 7px;}
  100% { opacity: 0; -webkit-transform: scale(1.1,1.1); border-width: 0px; }
}
@-moz-keyframes throbber {
  0%   { opacity: 0; -moz-transform: scale(0,0); border-width: 7px; }
  50%  { opacity: 1; border-width: 7px;}
  100% { opacity: 0; -moz-transform: scale(1,1); border-width: 0px; }
}
@-o-keyframes throbber {
  0%   { opacity: 0; -o-transform: scale(0,0); border-width: 7px; }
  50%  { opacity: 1; border-width: 7px;}
  100% { opacity: 0; -o-transform: scale(1,1); border-width: 0px; }
}
@keyframes throbber {
  0%   { opacity: 0; transform: scale(0,0); border-width: 7px; }
  50%  { opacity: 1; border-width: 7px;}
  100% { opacity: 0; transform: scale(1,1); border-width: 0px; }
}
