body {
  margin:0;
  font-family: "open_sans";
}

pre, code {
  font-family: "bitstream_vera_sans_monoroman";
}

div#path {
  background: hsl(202,68%,44%);
  padding: 16px;
  font-size: 18px;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: middle;
  -webkit-align-items: stretch;
}

div#path > div {
  flex-grow: 0;
  -webkit-flex-grow: 0;
  padding: 8px;
}

div#parts > div {
  font-family: "bitstream_vera_sans_monoroman";
  padding: 3px 1px 0 1px;
  line-height: 20px;
  flex-grow: 0;
  -webkit-flex-grow: 0;
  color: hsl(202,20%,44%);
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis ellipsis;
}

div#method {
  background: hsl(201,60%,60%);
  color: hsl(201,60%,97%);
  font-weight: 100;
  min-width: 64px;
  max-width: 64px;
  position: relative;
  cursor: default;
}

div#method.enabled {
  cursor: pointer;
}

div#method::after {
  content: '\25BE';
  font-family: open_sans;
  display: inline-block;
  position: absolute;
  right: 8px;
  top: 10px;
  visibility: hidden;
}

div#method.enabled::after {
  visibility: visible;
}

div#method.enabled:hover, div#method.enabled:active, div#method:focus {
  outline: none;
  background: hsl(201,60%,70%);
}

div#submit {
  background: url(res/return-@2x.png) no-repeat center center hsl(201,60%,60%);
  background-size: 24px 24px;
  color: hsl(201,60%,97%);
  cursor: pointer;
  min-width: 32px;
  text-align: center;
}

div#submit:hover, div#submit:focus {
  outline: none;
  background-color: hsl(201,60%,70%);
}

div#path > div#submit:active {
  color: hsl(201,60%,70%);
  background-color: hsl(201,60%,100%);
  background-image: url(res/return-dark-@2x.png);
}

div#path > div#parts {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: middle;
  -webkit-align-items: stretch;
  padding: 0;
  position: relative;
  overflow: visible;
  background: hsl(205,38%,100%);
  padding: 8px;
}

div#parts > div.param {
  -webkit-flex-shrink: 0;
  color: hsl(202,68%,44%);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis "";
  position: relative;
  background: hsl(205,38%,94%);
  border: 1px solid hsl(205,38%,90%);
  padding-top: 2px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 2px;
}

div.param::after {
  content: attr(data-label);
  color: hsl(202,50%,70%);
}

div.param.modified::after {
  display: none;
}

div#parts > div:nth-last-child(3):first-child {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  background: none;
  border: none;
}

div#parts > div.param:focus {
  outline: none;
}

div#parts > div#search {
  text-align: right;
  cursor: pointer;
  background: hsl(205,38%,100%);
}

div#parts > div:first-child {
  margin-left: 0;
}

.endpoint #search {
  flex-grow: 1;
  -webkit-flex-grow: 1;
}

#search a {
  display: inline-block;
  vertical-align: -2px;
  content: '';
  color: #FFF;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  opacity: 0.75;
  overflow: hidden;
  background: url(res/search-@2x.png) no-repeat center center hsl(201,60%,60%);
  background-size: 16px 16px;
}

#search a:hover {
  opacity: 1.0;
}

.endpoint #search a {
  background-image: url(res/close-@2x.png);
}

#search a:active {
  background-color: hsl(205,38%,90%);
  background-image: url(res/search-dark-@2x.png);
}

.endpoint #search a:active {
  background-image: url(res/close-dark-@2x.png);
}

div#parts > div#lookup {
  font-family: open_sans;
  font-size: 16px;
  position: absolute;
  padding: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: 3;
  background: none;
  overflow: visible;
}

div#lookup > ol {
  list-style: none;
  padding: 0;
  margin: 0;
  background: hsl(210,33%,99%);
  position: relative;
  top: 1px;
}

div#lookup li {
  margin: 0;
  padding: 8px 10px;
  cursor: pointer;
  border-bottom: 1px solid hsl(205,38%,94%);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: hsl(202,10%,40%);
  font-weight: 100;
}

div#lookup li.highlight {
  background-color: hsl(205,38%,94%);
}

div#lookup li:last-child {
  border-bottom: 0;
}

div#lookup li > code {
  color: hsl(202,68%,44%);
  margin-right: 5px;
  display: inline-block;
}

div#lookup li > span {
  font-family: "bitstream_vera_sans_monoroman";
  color: hsl(202,68%,80%);
  width: 45px;
}

div#lookup li > em, div#lookup li > strong {
  font-weight: 100;
  font-style: italic;
  color: hsl(202,10%,40%);
}

div#lookup li strong {
  font-weight: normal;
  text-transform: capitalize;
}

div#lookup li strong:after {
  content: ':';
}

div#methods {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 2;
}

div#method > span {
  display: inline-block;
  vertical-align: middle;
}

div#methods ul {
  position: relative;
  top: 1px;
  margin: 0;
  padding: 4px 0;
  list-style: none;
  background: hsl(201,60%,70%);
  color: hsl(201,60%,97%);
}

div#methods li {
  padding: 8px 10px;
}

div#methods li.highlight {
  background: hsl(201,60%,60%);
}

section#parameters {
  background: hsl(205,38%,94%);
  font-size: 18px;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: middle;
  -webkit-align-items: stretch;
  position:relative;
}

section#parameters > div {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
  min-height: 20px;
  min-width: 50%;
  max-width: 50%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 16px;
  position: relative;
}

section#parameters > div:first-child {
  padding-right: 8px;
}

section#parameters > div:last-child {
  padding-left: 8px;
}

section#parameters > div.disabled {
  opacity: 0.5;
}

section#parameters div.raw {
  font-family: "bitstream_vera_sans_monoroman";
  background: hsl(240,100%,100%);
  color: hsl(202,68%,44%);
  min-height: 50px;
  padding: 8px;
  max-width: 100%;
  word-break: break-all;
  word-break: break-word;
  font-size: 12px;
  max-height: 220px;
  overflow-y: auto;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

section#parameters header {
  background: hsl(204,33%,97%);
  color: hsl(203,53%,71%);
  padding: 8px;
  font-weight: normal;
  font-size: 14px;
  text-transform: uppercase;
  border-bottom: 1px solid hsl(205,38%,94%);
}

section#parameters table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
}

section#parameters div.scroller {
  max-height: 222px;
  overflow-y: scroll;
}

div.container {
  position: relative;
}

div.container::after {
  content: "";
  bottom: 0;
  right: 0;
  left: 0;
  height: 4px;
  z-index: 1;
  position: absolute;
  background: linear-gradient(hsla(0,0%,0%,0.0), hsla(0,0%,0%,0.2));
  background: -webkit-linear-gradient(hsla(0,0%,0%,0.0), hsla(0,0%,0%,0.2));
  background: -moz-linear-gradient(hsla(0,0%,0%,0.0), hsla(0,0%,0%,0.2));
}

div.container::before {
  content: "";
  top: 0;
  right: 0;
  left: 0;
  height: 4px;
  background: #F00;
  z-index: 1;
  position: absolute;
  background: linear-gradient(hsla(0,0%,0%,0.2), hsla(0,0%,0%,0.0));
  background: -webkit-linear-gradient(hsla(0,0%,0%,0.2), hsla(0,0%,0%,0.0));
  background: -moz-linear-gradient(hsla(0,0%,0%,0.2), hsla(0,0%,0%,0.0));
}

div.container.at-top::before {
  opacity: 0;
}

div.container.at-bottom::after {
  opacity: 0;
}

section#parameters th, section#parameters td {
  vertical-align: top;
  border-bottom: 1px solid hsl(205,38%,94%);
  padding: 0;
}

section#parameters td div {
  padding: 8px;
  font-size: 14px;
  max-width: 100%;
  min-height: 36px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  word-break: break-word;
  background: hsl(240,100%,100%);
  font-family: "bitstream_vera_sans_monoroman";
  color: hsl(202,68%,44%);
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

section#parameters th {
  width: 30%;
  padding: 8px;
  font-weight: normal;
  background: hsl(204,33%,97%);
  text-align: left;
  color: hsl(200,100%,38%);
  font-size: 14px;
  cursor: default;
}

section#parameters div:focus {
  outline: none;
}
